In [1]:
import pandas as pd
import numpy as np
np.random.seed(26)
df = pd.DataFrame(np.random.randint(10, size=(4, 4)), 
                  columns=list('abcd'), 
                  index=['0', '1', '2', '3'])
df

   a  b  c  d
0  5  6  0  1
1  6  3  0  4
2  2  1  7  3
3  5  9  4  8

In [2]:
def sort_order(n):
    order = []
    for index, row in n.iterrows():
        names = np.array(n.columns.tolist())
        row = np.array(row)
        index = np.argsort(row)
    #orders = list(names.take(index))
        orders = names.take(index)
        order.append(orders)
    n['ordered'] = order
    return n
sort_order(df)

   a  b  c  d       ordered
0  5  6  0  1  [c, d, a, b]
1  6  3  0  4  [c, b, d, a]
2  2  1  7  3  [b, a, d, c]
3  5  9  4  8  [c, a, d, b]