In [1]:
import pandas as pd
from datetime import datetime
import time
import numpy as np

In [2]:
df = pd.read_csv('/Users/NA_IMAC/Desktop/ustsv_data.csv')
df['event_time'] = pd.to_datetime(df['event_time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64113 entries, 0 to 64112
Data columns (total 1 columns):
event_time    64113 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 501.0 KB

In [3]:
df.head()

           event_time
0 2019-12-17 00:00:44
1 2019-12-17 00:01:07
2 2019-12-17 00:01:13
3 2019-12-17 00:01:14
4 2019-12-17 00:01:14

In [11]:
df['event_time_seconds'] = [time.mktime(t.timetuple()) for t in df.event_time]
df.head()

           event_time  event_time_seconds
0 2019-12-17 00:00:44        1.576570e+09
1 2019-12-17 00:01:07        1.576570e+09
2 2019-12-17 00:01:13        1.576570e+09
3 2019-12-17 00:01:14        1.576570e+09
4 2019-12-17 00:01:14        1.576570e+09

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64113 entries, 0 to 64112
Data columns (total 2 columns):
event_time            64113 non-null datetime64[ns]
event_time_seconds    64113 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1001.8 KB

In [13]:
df['count'] = 0

In [19]:
df.sort_values('event_time', inplace=True)
df.head()

           event_time  event_time_seconds  count
0 2019-12-17 00:00:44        1.576570e+09      0
1 2019-12-17 00:01:07        1.576570e+09      0
2 2019-12-17 00:01:13        1.576570e+09      0
3 2019-12-17 00:01:14        1.576570e+09      0
4 2019-12-17 00:01:14        1.576570e+09      0

In [20]:
time = np.array(df['event_time_seconds'])

In [21]:
count = np.array(df['count'])

In [22]:
for i in range(len(time) -1):
    if time[i+1] == time[i]:
        count[i+1] = count[i] + 1

In [23]:
df['count_new'] = count
df.head()

           event_time  event_time_seconds  count  count_new
0 2019-12-17 00:00:44        1.576570e+09      0          0
1 2019-12-17 00:01:07        1.576570e+09      0          0
2 2019-12-17 00:01:13        1.576570e+09      0          0
3 2019-12-17 00:01:14        1.576570e+09      0          0
4 2019-12-17 00:01:14        1.576570e+09      0          1

In [24]:
df['event_time_seconds_new'] = df.event_time_seconds + df.count_new

df['event_time_new'] = [datetime.utcfromtimestamp(t) for t in df.event_time_seconds_new]

In [25]:
df.head()

,event_time,event_time_seconds,count,count_new,event_time_seconds_new,event_time_new
0,2019-12-17 00:00:44,1.576570e+09,0,0,1.576570e+09,2019-12-17 08:00:44
1,2019-12-17 00:01:07,1.576570e+09,0,0,1.576570e+09,2019-12-17 08:01:07
2,2019-12-17 00:01:13,1.576570e+09,0,0,1.576570e+09,2019-12-17 08:01:13
3,2019-12-17 00:01:14,1.576570e+09,0,0,1.576570e+09,2019-12-17 08:01:14
4,2019-12-17 00:01:14,1.576570e+09,0,1,1.576570e+09,2019-12-17 08:01:15

In [26]:
df = df.drop(['event_time_seconds','count', 'count_new','event_time_seconds_new'], axis=1)
df.head()

           event_time      event_time_new
0 2019-12-17 00:00:44 2019-12-17 08:00:44
1 2019-12-17 00:01:07 2019-12-17 08:01:07
2 2019-12-17 00:01:13 2019-12-17 08:01:13
3 2019-12-17 00:01:14 2019-12-17 08:01:14
4 2019-12-17 00:01:14 2019-12-17 08:01:15

In [27]:
df['event_time'] = [datetime.strftime(t,'%Y-%m-%dT%H:%M:%S.%f') for t in df.event_time]

In [28]:
df['event_time_new'] = [datetime.strftime(t,'%Y-%m-%dT%H:%M:%S.%f') for t in df.event_time_new]

In [29]:
df.head()

                   event_time              event_time_new
0  2019-12-17T00:00:44.000000  2019-12-17T08:00:44.000000
1  2019-12-17T00:01:07.000000  2019-12-17T08:01:07.000000
2  2019-12-17T00:01:13.000000  2019-12-17T08:01:13.000000
3  2019-12-17T00:01:14.000000  2019-12-17T08:01:14.000000
4  2019-12-17T00:01:14.000000  2019-12-17T08:01:15.000000

In [30]:
df.to_csv('/Users/NA_IMAC/Desktop/new_table.csv')